<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/base.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/layout.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/subpage.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/user.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/coin.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/zcpc.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/iconfont/demo.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/iconfont/iconfont.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/jb_style.css">

    <script src="__PUBLIC__/Home/js/hm.js"></script>
    <script src="__PUBLIC__/js/messages_zh.min.js"></script>
    <script src="__PUBLIC__/js/base.js"></script>
    <script src="__PUBLIC__/Home/js/script.js"></script>