<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta property="wb:webmaster" content="8af72a3a7309f0ee">
    <title><notempty name='article'>{$article.title}-</notempty>{$config.title|default="虚拟币交易网站"}</title>
    <meta name="keywords" content="{$keywords}">
    <meta name="description" content="{$description}">
    <link rel="shortcut icon" href="1.ico" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/new/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/new/css/index.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/new/css/news-list.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/layout.css">
    <!-- 旧版css -->
<!--     <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/base.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/layout.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/subpage.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/user.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/coin.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/zcpc.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/iconfont/demo.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/iconfont/iconfont.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/jb_style.css"> -->

    <script src="__PUBLIC__/new/js/jquery.min.js"></script>
    <script src="__PUBLIC__/new/js/bootstrap.min.js"></script>
<!-- 旧版js -->
<!--     <script src="__PUBLIC__/Home/js/hm.js"></script> -->
    <script type="text/javascript" src="__PUBLIC__/js/layer/layer.js"></script>
    <script src="__PUBLIC__/js/jquery.validate.min.js"></script>
    <script language="javascript" src="__PUBLIC__/js/alert.js"></script>

    <!--  
<script src="__PUBLIC__/js/messages_zh.min.js"></script>

    <script src="__PUBLIC__/js/base.js"></script>
    <script src="__PUBLIC__/Home/js/script.js"></script> -->

</head>
<style type="text/css">
    .page a{ padding: 4px 8px; background-color: #fff;color: #337ab7; border-radius: 3px;margin-right:4px;border:1px solid #e1e1e1;}
    .page span{ padding:4px 8px; background-color: #fff;color: #337ab7;  border-radius: 3px;margin-right:4px;border:1px solid #e1e1e1;}
    .page .current { background-color: #337ab7;color: #fff; border:none;}
    .hover_user { float: left;text-align: center; border:1px solid #fff;border-bottom: none;background-image:url('__PUBLIC__/new/images/down.png');background-repeat:no-repeat;background-position: right;z-index: 1000;width: 126px;padding-top:2px;}
    .asss:hover a{ border:1px solid #c1c1c1;border-bottom: 1px solid #fff; background-image:url('__PUBLIC__/new/images/up.png');background-repeat:no-repeat;background-position: right;background-color: #fff;}

    .active_mon { display: none; position: absolute; top: 22px;right: 34px;width:400px; max-height: 260px;border:1px solid #c1c1c1;z-index: 100;background-color: #fff;border-top: none;background-image:url('__PUBLIC__/new/images/active_bg.png');background-repeat:no-repeat;padding-left: 15px;padding-bottom: 15px;font-size: 12px;}
    .active_mon .mon_span { float: left;width: 100%; }
    .active_mon .mon_span span{ float: left;width: 48%; line-height: 20px;height: 20px;margin:4px 0;}
    .active_mon .mon_span img{ margin:0px 5px 0 0;float: left;}
    .active_mon .mon_span b { font-weight: normal;width: 60px; float: left;}
    .active_mon .mon_a_list{ float: left;width: 100%; margin-top: 10px;}
    .active_mon .mon_a_list .mon_a { padding:3px 6px; background-color: #fff;color: #337ab7;border-radius: 3px;border-color: #337ab7 ; float: left;margin-right: 20px;background-image:none;width: 70px;text-align: center;}
    .active_mon .mon_a_list .mon_a:hover { background-color: #337ab7;color: #fff;border-color: #337ab7 ; }

    .con-deal { background-image:url('__PUBLIC__/new/images/down.png');background-repeat:no-repeat;background-position: right;z-index: 89999; }
    .con_sss:hover .con-deal{ background-image:url('__PUBLIC__/new/images/up.png');background-repeat:no-repeat;background-position: right; color: #337ab7;}
    .con_deal_n { display: none; position: absolute; top: 72px;left: 105px;width:150px; z-index: 99999;color: #f00;background-color: #fff;border: 1px solid #eee;border-top:2px solid #337ab7;}
    .sjjj {display: inline-block;width: 0;height: 0;margin-left: 66px;vertical-align: middle;border-bottom: 6px solid #337ab7;border-right: 6px solid transparent;border-left: 6px solid transparent;position: absolute;top: -6px;cursor: pointer;}
    .con_deal_n a { width: 100%;float: left;margin:0; font-size: 12px;border-bottom: 1px solid #eee;border-radius: 0;}
    .con_deal_n a p img{ margin-right:5px;}
</style>
<body>
<!-- 头部 -->

    <!-- 头部导航 -->
    <div class="w120 container" style="position: relative;padding-top: 10px;">
        <div class="row" style="margin:0;">
            <div class="col-md-3">
                <a href="{:U('Index/index')}"><img class="head-logo img-responsive" src="{$config.logo}" /></a>
            </div>
            <div class="col-md-6" style="float: right;width: 530px;margin-right:10px;position: relative;">
                <div class="head-nav">
                    <a href="{:U('Index/index')}">首页</a>
                    <!-- <a href="{:U('Index/aboutus')}">关于我们</a> -->
                    <div class="con_sss" style="float: left;"><a href="{:U('Orders/currency_trade')}" class="con-deal" style="padding-right: 16px;">交易中心
                    </a>
                    <div class="con_deal_n">
                        <div class="sjjj"></div>
                        <volist name="currency_all" id="vo">
                            <a href="{:U('Orders/index',array('currency'=>$vo['currency_mark']))}" style="text-align: left;"><p><img src="{$vo.currency_logo}" style="width:25px; height:25px;">{$vo.currency_name|default='虚拟币'}({$vo.currency_mark|default=''})</p></a>
                        </volist>
                    </div>
                    </div>
                    <a href="{:U('User/index')}">财务中心</a>
                    <a href="{:U('Safe/index')}">安全中心</a>
                    <a href="{:U('Help/index')}">帮助中心</a>
                </div>
            </div>
        </div>

    <empty name="user_id">
    <div class="head_kefu">
       <!--  <a href="#" class="about_us_a">关于我们</a> -->
        <a href="{:U('Reg/reg')}" class="btn btn-default head_kefu_a_1">注册</a>
        <a href="{:U('Login/index')}" class="btn btn-default head_kefu_a_2">登录</a>
    </div>
    <else />
    <div class="head_kefu" style="height: 26px;">
        <div class="asss" style="float: left;margin-left: 40px;">
            <a href="{:U('User/index')}" class="hover_user">您好，{$us_name}</a>
            <div class="active_mon">
                <div class="mon_span" style="margin-top: 10px;">
                    <span style="padding-left: 10px;">可用余额</span>
                    <span style="padding-left: 10px;">委托冻结</span>
                </div>
                <div class="mon_span">
                    <span><img src="__PUBLIC__/new/images/RMB.png" style="width:20px; height:20px;"><b>人民币</b>：<strong style="font-weight:normal;color: green;">{$member.rmb|default=0.00}</strong></span>
                    <span><img src="__PUBLIC__/new/images/RMB.png" style="width:20px; height:20px;"><b>人民币</b>：<strong style="font-weight:normal;color: #e55600;">{$member.forzen_rmb|default=0.00}</strong></span>
                </div>
                <volist name="currency_user" id="vo">
                <div class="mon_span">
                    <span><img src="{$vo.currency_logo}" style="width:20px; height:20px;"><b>{$vo.currency_name|default='虚拟币'}</b>：<strong style="font-weight:normal;color: green;">{$vo.num|default=0.00}</strong></span>
                    <span><img src="{$vo.currency_logo}" style="width:20px; height:20px;"><b>{$vo.currency_name|default='虚拟币'}</b>：<strong style="font-weight:normal;color: #e55600;">{$vo.forzen_num|default=0.00}</strong></span>
                </div>
                </volist>
                <div class="mon_a_list">
                    <a href="{:U('User/pay')}" class="mon_a">充值</a>
                    <a href="{:U('User/draw')}" class="mon_a">提现</a>
                    <a href="{:U('Entrust/manage')}" class="mon_a">委托管理</a>
                    <a href="{:U('Trade/myDeal')}" class="mon_a">成交查询</a>
                </div>
            </div>
        </div>
<!--         <span>(UID: <b style="color: #337ab7;font-weight: normal;">{$Think.session.USER_KEY_ID}</b> )</span> -->
        
        <!-- <a href="{:U('User/index')}" style="margin-left:15px;">财务中心</a> -->
        <a href="{:U('Login/loginOut')}" style="float: left;line-height: 23px;margin-top: 2px;">退出</a>

    </div>
    </empty>
    </div>
<script type="text/javascript">
    
    $(function () {
        $('.asss').hover(function(){$('.active_mon').show();},function(){$('.active_mon ').hide()});
        $('.con_sss').hover(function(){$('.con_deal_n').show();},function(){$('.con_deal_n').hide()});
    })
</script>