<include file="App/Home/View/Public/new_header.html"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/new/css/aboutus.css">
<!-- 头部结束 -->
<div class="w10 line">
</div>
<!-- body开始 -->
<div class="w120 container">
	<div class="about-top w-f">
		<img src="__PUBLIC__/new/images/about.jpg" height="300">
	</div>
	<div class="about-body w-f">
		<p style="text-align:center;border-bottom:1px solid #ddd;"><img src="__PUBLIC__/new/images/about-body-title.png"></p>
		<div class="row about-body-p">
			<div class="col-md-5 col-xs-5">
				<img src="__PUBLIC__/new/images/about-body-2.jpg" class="img-responsive">
			</div>
			<div class="col-md-7 col-xs-7">
				<p class="about-body-p-1">第九交易网</p>
				<p class="about-body-p-2">第九交易有限公司(原第九交易网工作室)，成立于2008年，是由一群有着研发精神和创新精神的团队组成。</p>
				<p class="about-body-p-2">年来，我们一直专注于互联网货币XXXXXX服务，截止目前我们已经服务过300多个大型客户。不论是XXXXXXXX、XXXXXXXXXXXXX、还是XXXXXX，我们都能提供精确的方案和视XXXXXXXXX。无论是XXXXXXXX还是XXXXXXXXXXX执行，我们都比传统的互联网公司有着更高的造诣。我们有国际化意识和前瞻性思维；我们有策略性的创意和XXXXXXXXXX；我们能主动挖掘客户优势并进行整理、包装与有效地传播。我们追逐在互联网最前沿；我们能洞察互联网发展与XXX趋势。</p>
				<p class="about-body-p-2">提XXXXXXXXXXXXX、实现客户的商业目标是第九交易有限公司永恒的追求！</p>
			</div>
			<div class="col-md-12 col-xs-12">
				<p class="about-body-p-3">我们的使命</p>
				<p class="about-body-p-4">第九交易有限公司(原第九交易网工作室)，成立于2008年，是由一群有着研发精神和创新精神的团。</p>
				<p class="about-body-p-3">我们的使命</p>
				<p class="about-body-p-4">第九交易有限公司(原第九交易网工作室)，成立于2008年，是由一群有着研发精神和创新精神的团。</p>
			</div>
		</div>
	</div>

<!-- 	<div class="about-team w-f">
		<p style="text-align:center;color:#444;font-size:24px;">团队</p>
		<p style="text-align:center;color:#787878;">Team</p>
		<div class="row">
			<div class="col-md-4 about-team-three">
				<img src="__PUBLIC__/new/images/team-1.jpg" class="img-responsive center-block">
				<p style="color:#000;font-size:18px;margin-top:25px;">王志成</p>
				<p style="color:#a69ab3;font-size:12px;margin-top:3px;">Key,Ukrame</p>
				<p style="color:#949494;font-size:12px;margin-top:15px;">2013年加入第九交易网，担任第九交易网营销总监，实现客户的商业木匾是第九交易网的永痕追求</p>
			</div>
			<div class="col-md-4 about-team-three">
				<img src="__PUBLIC__/new/images/team-2.jpg" class="img-responsive center-block">
				<p style="color:#000;font-size:18px;margin-top:25px;">王志成</p>
				<p style="color:#a69ab3;font-size:12px;margin-top:3px;">Key,Ukrame</p>
				<p style="color:#949494;font-size:12px;margin-top:15px;">2013年加入第九交易网，担任第九交易网营销总监，实现客户的商业木匾是第九交易网的永痕追求</p>
			</div>
			<div class="col-md-4 about-team-three">
				<img src="__PUBLIC__/new/images/team-3.jpg" class="img-responsive center-block">
				<p style="color:#000;font-size:18px;margin-top:25px;">王志成</p>
				<p style="color:#a69ab3;font-size:12px;margin-top:3px;">Key,Ukrame</p>
				<p style="color:#949494;font-size:12px;margin-top:15px;">2013年加入第九交易网，担任第九交易网营销总监，实现客户的商业木匾是第九交易网的永痕追求</p>
			</div>
		</div>
	</div> -->

	<div class="about-envir w-f" style="padding-left: 20px;">
<!-- 		<p style="font-size:28px;margin-bottom:30px;">环境展示<span style="font-size:20px;margin-left:20px;">ENVIRONMENT DISPLAY</span></p>
		<div class="row about-envir-four">
			<div class="col-md-3">
				<img src="__PUBLIC__/new/images/envir-1.jpg" class="img-responsive center-block" style="height:190px;">
				<p style="text-align:center;margin-top:15px;color:#535353;font-weight:bold;">工作区</p>
			</div>
			<div class="col-md-3">
				<img src="__PUBLIC__/new/images/envir-2.jpg" class="img-responsive center-block" style="height:190px;">
				<p style="text-align:center;margin-top:15px;color:#535353;font-weight:bold;">洽谈室</p>
			</div>
			<div class="col-md-3">
				<img src="__PUBLIC__/new/images/envir-3.jpg" class="img-responsive center-block" style="height:190px;">
				<p style="text-align:center;margin-top:15px;color:#535353;font-weight:bold;">茶水间</p>
			</div>
			<div class="col-md-3">
				<img src="__PUBLIC__/new/images/envir-4.jpg" class="img-responsive center-block" style="height:190px;">
				<p style="text-align:center;margin-top:15px;color:#535353;font-weight:bold;">娱乐区</p>
			</div>
		</div> -->
		<p style="font-size:28px;margin-bottom:30px;margin-left: -25px;">联系我们<span style="font-size:20px;margin-left:20px;">CONTACT US</span></p>
		<p style="font-size:20px;color:#000;">第九交易网（北京）科技有限公司</p>
		<p style="font-size:20px;color:#000;">DIJIU ( Beijing ) Technology Co., Ltd.</p>
		<div class="row" style="margin-bottom:30px;">
			<div class="col-md-6 about-row-two col-xs-6">
				<p>客户联系方式</p>
				<p style="border-bottom:2px solid #6b6b6b;padding-bottom:20px;width:400px;">CUSTOMER CONTACT</p>
				<p style="margin-top:35px;">客服电话：</p>
				<p>Tel：400-879-8786</p>
				<p>商务邮箱：</p>
				<p>Email：{$config.business_email|default="暂无"}</p>
				<p>招聘邮箱：</p>
				<p>Email：{$config.email|default="暂无"}</p>
			</div>
			<div class="col-md-6 about-row-two col-xs-6">
				<p>客户联系地址</p>
				<p style="border-bottom:2px solid #6b6b6b;padding-bottom:20px;width:400px;">CUSTOMER CONTACT</p>
				<p style="margin-top:35px;">常州分公司：</p>
				<p>{$config.address|default="暂无"}</p>
				<p>苏州分公司：</p>
				<p>{$config.address|default="暂无"}</p>
			</div>
		</div>
	</div>
</div>
<!-- body结束 -->

<!-- footer开始 -->
<include file="App/Home/View/Public/new_footer.html"/>