.container { padding: 0; }
.w100 { width: 1000px; }
.w120 { width: 1200px; }
.w10 { width: 100%; min-width: 1200px;float: left;margin: 0;padding:0;}
.w10-l { width: 100%;float: left; min-width: 1200px;margin: 0;padding:0;}
a:hover { text-decoration: none; }
body { font-family: "Microsoft YaHei" ! important; }
p { margin-bottom: 0; }
a:hover { opacity: 0.8; }
ul li{ list-style:none; }
.hide{ display: none; }
.sidetool {display:none;}

.carousel-inner>.item>a>img{
	display:block;
	margin-left:auto;
	margin-right:auto;
}
/*      添加内容          */
.i_toutiao {
	padding-left:20px;
	padding-right:20px;
}
.i_toutiao h3{ 
	font-size:16px;
	font-weight:normal;
	overflow:hidden;
	margin-top: 6px;
}
.i_toutiao h3 a{
	display:block;
	height:40px;
	line-height:40px;
	font-size:16px;
	color:#3b639f;
	cursor:pointer;
	font-weight: bold;
}
.i_toutiao h3.active a span{
	display:inline-block;
	width:36px;
	height:19px;
	line-height:19px;
	text-align:center;
	margin-right:7px;
	background:#f63756;
	color:#fff;
	font-size:12px;
}
.textcon{
	padding-bottom:15px;
}
.textcon p{
	float:left;
	padding-top:8px;
	color:#aaaaaa;
	font-size:14px;
	margin-right:25px;
}
.textcon ul{
	float:left;
	width:302px;
	margin-bottom: 0;
}	
.textcon ul li a{
	display:block;
	height:26px;
	line-height:26px;
	overflow:hidden;
	font-size:13px;
	color:#294c7f;
	overflow:hidden;
}


.newPaper img{
	float:left;
	display:block;
	width:125px;
	height:99px;
	
	margin-top:13px;
	margin-bottom: 8px;
	margin-right:16px;
}
.newPaper div{
	float:left;
	width:275px;
	height: 114px;
	overflow: hidden;
}
.newPaper  h4{
	font-weight:normal;
}
.newPaper  h4 a{
	display:block;
	font-size:16px;
	overflow: hidden;
	color:#004276;
	padding-top:0px;
	line-height: 22px;
	height: 44px;
	overflow: hidden;
}
.newPaper p{
	line-height:20px;
	overflow:hidden;
	font-size:13px;
	color:#aaaaaa;
	height: 40px;
	overflow: hidden;
	margin-top: 14px;
}
.coinAlction ul{
	float: left;
	padding-left:5px;
}
.coinAlction ul li{
	float:left;
	margin-top:22px;
}
.coinAlction ul li a{
	display:block;
	height:80px;
	margin-right:18px;
	margin-left:18px;
}
.coinAlction ul li.last a{
	margin-right:0;
}
.coinAlction ul li a img{
	width:60px;
	height:60px;
	border:0;
	display:block;
}
.coinAlction ul li a p{
	margin-top:10px;
	text-align:center;
	color: #1f76bd
}

/*      添加内容          */
/*      底部漂浮       */
.right-float{
	position: fixed;
	float: left;
	bottom: 60px;
	right: 40px;
	width: 64px;
	height: 260px;
	
}
.right-float .qq-ask{
	float: left;
	margin-bottom: 4px;
	background-color: #fff;
	border-radius: 4px;
}
.qq-ask-m {
	position: absolute;
	top: 0;
	left: -170px;
	z-index: 1000;
}
.qq-ask-m p{
	margin-top: -40px;
	margin-left: -10px;
	font-size: 16px;
	text-align: center;
	color: #337cbf;
	display: block;
}
.phone-m {
	position: absolute;
	top: 0;
	left: -170px;
	z-index: 1000;
}
.phone-m p{
	margin-top: -40px;
	margin-left: -10px;
	font-size: 16px;
	text-align: center;
	color: #337cbf;
	display: block;
}
.weixin-m {
	position: absolute;
	top: -35px;
	left: -143px;
	z-index: 1000;
}
.back-up-m {
	position: absolute;
	top: 0;
	left: -170px;
	z-index: 1000;
}
.back-up-m p{
	margin-top: -40px;
	margin-left: -10px;
	font-size: 16px;
	text-align: center;
	color: #337cbf;
	display: block;
}

.right-float .qq-ask i{
	float: left;
	width: 64px;
	height: 64px;
	background: url(../images/qq-1.png) no-repeat; 
	border: 1px solid #c1c1c1;
	border-radius: 4px;
}
.right-float .qq-ask i:hover{
	background: url(../images/qq.png) no-repeat; 
	border: none;
}

.right-float .footer-phone{
	position: relative;
	float: left;
	margin-bottom: 4px;
	background-color: #fff;
	border-radius: 4px;
}
.right-float .footer-phone i{
	float: left;
	width: 64px;
	height: 64px;
	background: url(../images/phone-1.png) no-repeat; 
	border: 1px solid #c1c1c1;
	border-radius: 4px;
}
.right-float .footer-phone i:hover{
	background: url(../images/phone.png) no-repeat; 
	border: none;
}

.right-float .weixin{
	float: left;
	position: relative;
	margin-bottom: 4px;
	background-color: #fff;
	border-radius: 4px;
}
.right-float .weixin i{
	float: left;
	width: 64px;
	height: 64px;
	background: url(../images/weixinbg-1.png) no-repeat; 
	border: 1px solid #c1c1c1;
	border-radius: 4px;
}
.right-float .weixin i:hover{
	background: url(../images/weixinbg.png) no-repeat; 
	border: none;
}

.right-float .back-up{
	float: left;
	position: relative;
	margin-bottom: 4px;
	background-color: #fff;
	border-radius: 4px;
}
.right-float .back-up i{
	float: left;
	width: 64px;
	height: 64px;
	background: url(../images/top-1.png) no-repeat; 
	border: 1px solid #c1c1c1;
	border-radius: 4px;
}
.right-float .back-up i:hover{
	background: url(../images/top.png) no-repeat; 
	border: none;
}


.hwh-page-info a{color: #CCC;}.hwh-page-info a em{font-style: normal;margin: 0 2px;}
/*head*/
.head { background-color: #337cbf; }
.head_p { 
	color: #fff; 
	float: left;
	width: 500px;
	padding: 5px 0;
}
.head_p p{ float: left;}
.head_p span{ 
	float: left;
	margin-left: 10px;
}
.head_kefu{
	position: absolute;
	right: 30px;
	top: 10px;
	width: 200px;
	font-size: 14px;
}
.about_us_a{
	color: #999;
	padding-right:15px;
	margin-right:15px;
	line-height: 18px;
	border-right: 1px solid #c1c1c1;
}
.head_kefu p{
	float: right;
}
.head_kefu_a_1{
	background-color:#337cbf;
	border-color: #337cbf;
	color: #fff;
	margin-right: 5px;
	padding: 3px 10px;
	margin-left: 80px;
	display: inline-block;
	border: 1px solid transparent;
	border-radius: 4px;
}
.head_kefu_a_1:hover{
	background-color:#fff;
	border-color: #337cbf;
	color: #337cbf;
	opacity: 0.8;
}
.head_kefu_a_2{
	background-color:#337cbf;
	border-color: #337cbf;
	color: #fff;
	margin-right: 5px;
	padding: 3px 10px;
	display: inline-block;
	border: 1px solid transparent;
	border-radius: 4px;
}
.head_kefu_a_2:hover{
	background-color:#fff;
	border-color: #337cbf;
	color: #337cbf;
	opacity: 0.8;
}

.head-nav{
	padding: 33px 0 33px 10px ;
}
.head-nav a{
	float: left;
	width: 95px;
	text-align: center;
	color: #717171;
	font-size: 16px;
	line-height: 20px;
	margin-left: 3px;
	padding: 10px 13px;
	border-radius: 8px;
}
.head-nav a:hover{
	color: #337cbf;
	opacity: 0.8;
}

/*banner*/
.banner { 
	height: 300px; 
	position: relative;
}
.banner .banner-numble{
	position: absolute;
	bottom: 35px;
	left: 50%;
	color: #fff;
	font-size: 14px;
	margin-left: -175px;
	width: 350px;
	height: 46px;
	background: url(../images/num_bg.png);
	text-align: center;
	border-radius: 10px;
	z-index: 9999;
}

.banner .banner-numble p{
	padding: 8px 0;
}
.banner .banner-numble p img{
	margin-right: 10px;
}
.banner .banner-numble p span{
	margin: 0 3px;
	padding: 3px 3px;
	background-color: #ffd826;
	font-size: 16px;
	color: #000;
}
.carousel-inner>.item>img{
	height: 300px;
	width: 100%;
}
.carousel-indicators {
	bottom: 5px;
	margin-bottom: 5px;
}

.banner-input {
	position: absolute;
	top: 25px;
	left: 50%;
	margin-left: 360px;
	background-color:rgba(255,255,255,0.6);
	width: 230px;
	height: 250px;
	border-radius:5px;
	z-index: 10000;
}
.e_tips{
	display: none;
	position: absolute;
	color: #ff0000;
	top: 6px;
	right: 6px;
	font-size: 18px;
}
.p_tips{
	display: none;
	position: absolute;
	color: #ff0000;
	top: 6px;
	right: 6px;
	font-size: 18px;
}
.banner-input form{
	margin:0 15px;
}
.banner-input p{
	color: #333;
	margin-top: 20px;
	font-size: 16px;
	margin-bottom: 15px;
	padding-left: 5px;
}
.banner-input .input-phone {
	position: relative;
	float: left;
	margin-bottom: 15px;
	height: 32px;
	border:1px solid #ccc;
	background-color: #fff;
}
.banner-input .input-phone input{
	border:none;
	height: 30px;
	width: 160px;
	background-color: #fff;
}

.banner-input .input-pas {
	position: relative;
	float: left;
	height: 32px;
	border:1px solid #ccc;
	background-color: #fff;
}
.banner-input .input-pas input{
	border:none;
	height: 30px;
	width: 160px;
	background-color: #fff;
}

.banner-input .form-three{
	float: left;
	margin-top: 7px;
}

.banner-input .form-three a{
	color: #666;
	font-size: 14px;
}

.banner-input .form-three .form-new{
	margin-right: 50px;
}

.banner-input .form-submit{
	float: left;
	margin-top: 15px;
	width: 100%;
	padding: 8px 20px;
	color: #fff;
	font-size: 16px;
	background-color: #337cbf;
	border:none;
}

.banner-input .form-other {
	float: left;
	width: 100%;
	height: 40px;
	margin-top: 20px;
	border-radius : 0 0 5px 5px;
	background-color: rgba(255,255,255,.7);
}
.banner-input .form-other p{
	float: left;
	margin:0;
}

.banner-input .form-other span{
	float: left;
	margin-top: 10px;
	width: 100%;
	padding-right: 15px;
}

.other-qq {
	float: left;
	margin-left: 10px;
	width: 20px;
	height: 20px;
}

.other-weixin {
	float: left;
	margin-left: 15px;
	width: 20px;
	height: 20px;
}

/*  body    */
.body{
	margin-top: 15px;
	margin-bottom: 35px;
}
.body .gonggao{
	margin: 0 30px 0 0;
	height: 50px;
	border:1px solid #e6e6e6;
	color: #757474;
	position: relative;
}
.body .gonggao .gonggao-t{
	margin-top: 12px;
	margin-left: 15px;
	float: left;
}
.body .gonggao .gonggao-dian{
	float: left;
	margin: 17px 8px;
	color: #337cbf;
}
.hangye { 
	padding-right: 6px;
	padding-left: 6px;
}
.title{
	float: left;
	width: 100%;
	height: 38px;
	border-bottom: 1px solid #eee;
}
.title span{
	float: left;
	padding-left: 10px;
	height: 38px;
	width: 120px;
	line-height: 38px;
	font-weight: bold;
	font-size: 18px;
	border-bottom: 2px solid #337cbf;
	color: #337cbf;
}
.title a{
	float: right;
	margin-right: 20px;
	color: #9a9a9a;
	margin-top: 10px;
}
.new_title{
	float: left;
	width: 100%;
	height: 38px;
	position: relative;
}
.new_title b{
	position: absolute;
	bottom: 2px;
	left: 7px;
	width: 95px;
	height: 2px;
	border-bottom: 2px solid #337cc5;
}
.new_title span{
	float: left;
	padding-left: 10px;
	height: 15px;
	width: 120px;
	line-height: 15px;
	font-weight: bold;
	margin-top: 11px;
	margin-left: 10px;
	font-size: 18px;
	border-left: 4px solid #08bd29;
	color: #337cbf;
}
.new_title a{
	float: right;
	margin-right: 2px;
	color: #9a9a9a;
	margin-top: 10px;
}

.gonggao_ul{
	padding: 5px 10px;
	float: left;
	width: 100%;
}
.gonggao_ul li{
	float: left;
	width: 100%;
	padding: 5px 0;
}
.gonggao_ul li a{
	color: #333;
	padding: 4px 0;
}
.gonggao_ul li span{
	float: right;
	color: #999;
}

.hangye-three{
	width: 100%;
	float: left;
	margin-top: 10px;
	border-bottom: 1px solid #eee;
}
.hangye-three .hangyenew-title a{
	margin-left: 5px;
	color: #000;
	font-size: 15px;
	font-weight: bold;
}
.hangye-three .hangyenew-body{
	height: 81px;
	line-height: 27px;
	margin-left: 5px;
	margin-top: 10px;
}
.hangye-three .hangyenew-num {
	margin: 5px 0 18px 5px;
}
.hangye-three .hangyenew-num span{
	margin-right: 35px;
}
.hangye-three .hangyenew-num span img{
	margin-bottom: 4px;
	margin-right: 5px;
}
.hangye-six{
	width: 100%;
	float: left;
	margin-top: 1px;
}
.hangye-six-f{
	width: 100%;
	float: left;
	margin-top: 17px;
	margin-bottom: 15px;
}
.hangye-six-f p {
	padding-left: 5px;
	font-size: 16px;
	font-weight: 600;
	
}
.hangye-six-f p a{
	font-size: 15px;
	color: #000;
}
.hangye-ul {
	float: left;
	padding-left: 0px;
	padding-right: 5px;
	margin: 0;
}
.hangye-ul li{
	float: left;
	width: 100%;
	margin: 6.5px 0;
	padding-left: 2px;
	/*background: url(../images/ul-li-bg.png) no-repeat;*/
}
.hangye-ul li a{
	color: #333;
}
.hangye-ul li span{
	color: #999;
	float: right;
}

.bizhong{
	width: 55.6%;
	padding: 0;
}
.bizhong-first{
	width: 100%;
	float: left;
	margin-top: 8px;
	padding-bottom: 18px;
	border-bottom: 1px dashed #eee;
}
.bizhong-first .bizhong-first-three{
	width: 36%;
	float: left;
}
.bizhong-first .bizhong-first-seven{
	width: 64%;
	float: left;
}
.bizhong-first .bizhong-first-three img{
	float: left;
	width: 150px;
	height: 100px;
}
.bizhong-first .bizhong-first-seven a{
	float: left;
	color: #333;
	font-size: 14px;
	margin-bottom: 10px;
	margin-top: 5px;
}
.bizhong-first .bizhong-first-seven .bizhong-first-body{
	font-size: 12px;
	color: #949494;
	float: left;
}
.bizhong-first .bizhong-first-time{
	font-size: 12px;
	color: #949494;
	float: right;
	margin-top: 10px;
}
.bizhong-first .bizhong-first-time img{
	width: 12px;
	height: 12px;
	margin-right: 5px;
	margin-bottom: 2px;
}
.page{
	float: left;
	width: 100%;
	margin-top: 15px;
	text-align: center;
}
.contact_i{
	position: relative;
	width: 305px;
	height: 315px;
	background:url('../images/contact.png') no-repeat;
}
.contact_i p {width: 100%;float: left;color: #fdfdfd;}

.new-first{
	width: 100%;
	float: left;
	margin-top: 3px;
	padding-bottom: 5px;
}
.new-first .bizhong-first-three{
	width: 35%;
	float: left;
}
.new-first .bizhong-first-seven{
	width: 65%;
	float: left;
}
.new-first .bizhong-first-three img{
	float: left;
	width: 135px;
	height: 90px;
}
.new-num{
	float: left;
	width: 100%;
	margin-top: 5px;
}
.new-first .bizhong-first-seven a{
	float: left;
	color: #333;
	font-size: 14px;
	margin-bottom: 10px;
	margin-top: 5px;
}
.new-first .bizhong-first-seven .bizhong-first-body{
	font-size: 12px;
	line-height: 20px;
	padding-top: 10px;
	color: #949494;
	float: left;
	height: 70px;
}
.new-first .bizhong-first-time{
	font-size: 12px;
	color: #949494;
	float: right;
	margin-top: 10px;
}
.new-first .bizhong-first-time img{
	width: 12px;
	height: 12px;
	margin-right: 5px;
	margin-bottom: 2px;
}
.bizhong-six {
	width: 100%;
	float: left;
}
.bizhong-six .bizhong-six-ul{
	width: 100%;
	float: left;
	padding: 0;
	margin-bottom: 0;
	padding-bottom: 8px;
}
.bizhong-six .bizhong-six-ul li{
	margin: 6.5px 0;
	padding-left: 2px;
	float: left;
	width: 100%;
	/*background: url(../images/ul-li-bg.png) no-repeat;*/
}
.bizhong-six .bizhong-six-ul li a{
	color: #343434;
}
.bizhong-six .bizhong-six-ul li span{
	float: right;
	color: #999;
}
.bi {
	padding: 0;
}
.table {
	margin-bottom: 0px;
}
.table>thead>tr>th{ 
	color: #337cbf;
	font-size: 14px;
	font-weight: bold;
	border-bottom: 1px solid #ddd;
}
.table>tbody>tr>td>a{ 
	color: #333;
}
.bi-name {
	border-bottom: 1px solid #ddd;
}
.bi-name img{ 
	margin-bottom: 3px;
	margin-right: 3px;
}
.bi-name .red {
	padding-top:10px;
	color: #337cbf;
}
.bi-name .green {
	padding-top:10px;
	color: #337cbf;
}

.bi-name .daygreen {
	padding-top:10px;
	color: green;
}

.bi-name .dayred {
	padding-top:10px;
	color: red;
}

/*    part    */
.part{
	margin-top: 10px;
}
.part-body{
	width: 100%;
	float: left;
	padding: 0 20px;
}
.part-body p{
	width: 100%;
	float: left;
	text-align: center;
	margin-bottom: 15px;
}
.part-body a{
	float: left;
	border:1px solid #ddd;
	margin-right: 13px;
	margin-bottom: 10px;
}

/*    link    */
.link{
	margin-top: 10px;
	margin-bottom: 20px;
}
.link-body{
	width: 100%;
	float: left;
	padding: 0 100px;
}
.link-body p{
	width: 100%;
	float: left;
	text-align: center;
	margin-bottom: 15px;
}
.link-body a{
	float: left;
	font-size: 16px;
	color: #337cbf;
	margin-right: 12px;
}

.index_ads_1 { 
	float: left;
	height: 300px; 
	background-color: #fff;
	border-radius: 2px;
	border:1px solid #f1f1f1;"
}

/*  footer  */
.all_footer{
	border-top: 3px solid #3483d2;
	background: #212020;
}
.all_footer a:hover{
	opacity: 1;
}
.all_footer .footer_weibo{
	position: absolute;
	top: -2px;
	left: 85px;
	width: 30px;
	height: 30px;
	background: url(../images/s_weibo.png) no-repeat;
}
.all_footer .footer_weibo:hover{
	background: url(../images/d_weibo.png) no-repeat;
}
.all_footer .fppter_p_img{
	display: none;
	position: absolute;
	top: 55px;
	left: 90px;
}


.footer{
	padding: 15px 0 25px 0;
	width: 1200px;
	margin:0 auto;
}
.footer-about {
	border-left: 1px solid #eee;
}
.footer-about p a{
	color: #666;
}
.footer-about p{
	color: #666;
	line-height: 25px;
}
.footer-body .about{
	float: left;
	width: 100%;
	font-size: 18px;
	margin-bottom:10px;
	color: #666;
}
.footer-body .about-body{
	float: left;
	width: 100%;
	font-size: 12px;
	height: 50px;
	margin-top: 5px;
	color: #899aab;
	margin-bottom: 10px;
}
.qrcode p{
	color: #666;
	line-height: 25px;
}
.footer-footer-ve{
	color: #999;
	text-align: center;
	float: left;
	width: 100%;
}
.footer-footer-ve a{
	color: #999;
}

/*          公告轮播           */
.gonggao .notice_active {
			float: left;
			width: 70%;
			height: 4rem;
			padding: 0;
			overflow: hidden;
			position: relative;
	}
.gonggao .notice_active ul{
			padding: 0;
	}	
.gonggao .notice_active ul span a{
		color: #757474;
	}
.gonggao .notice_active li{list-style-type:none;line-height: 50px;overflow: hidden;padding-left: 5px;}
	/*.gonggao .notice_active li.notice_active_ch {}*/
.gonggao .notice_active li.notice_active_ch span {color:#656972;font-size:14px;display: block;overflow: hidden; width:80%;float: left;
	overflow: hidden;margin:0;}
.gonggao .notice_active li.notice_active_ch em {text-align:right;float:right;color:#888;font-size:0.8rem;font-style:normal;  }