ul li {list-style-type:none}
p { margin: 0; }

.swiper-container { width: 100%; }

/*头部*/
.head_right { float: right; }
.head_right a{ color: #666;margin-right: 0.5rem;font-size: 0.28rem;}
.head_right a:last-child { margin-right:0; }
.head_right .blue{ color: #337cbf;}


/*body*/
.notice { float: left;padding: 7px 15px;width: 100%; font-size: 0.28rem;}
.notice span{ font-size: 0.28rem;font-weight: bold; }
.notice b{ float: right;font-weight: normal; }

.Wf-div1{
	text-align: center;
	font-size: 0.28rem;
	color: #333;
	height: 0.95rem;
	line-height: 0.95rem;
	border-bottom: 1px solid #dddddd;
}
.Wf-div1 a{
	float: left;
	color: #666;
	font-size: 0.24rem;
	padding-left: 1.2rem;
}
.Wf-div1 span{
	margin-left: -1.2rem;
}

.bull_span_shu{
    color: #ddd;
}
.bullet_uls{
    width: 100%;
    height: auto;
    float: left;
    padding: 0;
}
.bullet_uls li{
    border-bottom: 1px solid #ddd;
    height:1.02rem;
    line-height: 1.02rem;
    padding: 0 0.3rem;
    font-size: 0.24rem;
}
.bullet_uls li a{
    display: inline-block;
    width: 5.2rem;
    float: left;
    overflow:hidden;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    -webkit-text-overflow:ellipsis;
    -moz-text-overflow:ellipsis;
    white-space:nowrap;
}
.bullet_uls li span{
    display: inline-block;
    float: right;
    color:#999;
    font-size: 0.22rem;
}
/*.bullet_uls li:last-child{
    text-align: center;
    border-bottom: 0.01rem solid #dddddd;
    color: #666;
    line-height: 0.86rem;
    height: 0.86rem;
    padding: 0 4px;
    font-size: 0.24rem;
}*/

.bull_dels{
    font-size: 0.3rem;
    border-top: 1px solid #ddd;
    padding-top:0.26rem;
    padding-right: 0.3rem;
    padding-left: 0.3rem;
}
.bull_dels_time{
    font-size: 0.22rem;
    text-indent: 0.3rem;
    padding-top: 0.21rem;
    color:#999;
    
}
.bull_content{
    margin-top: 0.49rem;
    padding: 0 0.3rem;
    height: auto;
    font-size: 0.24rem;
    margin-bottom: 0.4rem;
    color:#666;
}

.footer{
    
    background: #f6f6f6;
    font-size: 0.2rem;
    position: relative;
    bottom: 0;
    width: 100%;
        text-align: center;
    
}
.footer p{
    height: 0.72rem;
/*  border-bottom: 1px solid #dddddd;*/
    line-height: 0.72rem;
    

}
.footer p span:first-child i{
    margin: 0 0.2rem;
    color: #bbbbbb;
    font-style: normal;
}

.footer p span:last-child a{
    color: #aeaeae;
}
.footer p span:last-child i{
    margin: 0 0.2rem;
    color: #bbbbbb;
    font-style: normal;
}
.footer div{
    text-align: center;
    color: #999;
    line-height: 0.6rem;
    font-size: 0.2rem;

}
 .footer .footer_kefu_news{
            width: 100%;
            border-bottom: 1px solid #ddd;
            font-size: 0.24rem;
        }
        .footer_kefu_news a{
            display: inline-block;
            height: 0.65rem;
            line-height: 0.65rem;
            color:#999;
            margin: 0.1rem 0;
        }
.footer_kefu_news a:first-child i{
    background:url("../images/icon_contact_221.png") no-repeat left;
    background-size: 0.3rem;
    display: inline-block;
    width: 0.4rem;
    height: 0.3rem;
    margin-top: -0.05rem;
    vertical-align:middle;
}
.footer_kefu_news a:last-child i{
    background:url("../images/icon_contact_222.png") no-repeat left;
    background-size: 0.3rem;
    display: inline-block;
    width: 0.4rem;
    height: 0.3rem;
    vertical-align:middle;
}