<include file="App/Home/View/Public/new_header.html"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/new/css/deal.css">
<include file="App/Home/View/Public/css.html"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/kline.css">
<script src="__PUBLIC__/Home/js/jquery-1.js"></script>
<script src="__PUBLIC__/Home/js/highstock.js"></script>
<script>
/*chart_5m = {symbol:"{$currency.currency_mark}_{$currency_trade.currency_mark}",symbol_view:"DDD/CNY",ask:1.2,time_line:{$kline_5m}};
chart_15m = {symbol:"{$currency.currency_mark}_{$currency_trade.currency_mark}",symbol_view:"DDD/CNY",ask:1.2,time_line:{$kline_15m}};
chart_1d = {symbol:"{$currency.currency_mark}_{$currency_trade.currency_mark}",symbol_view:"DDD/CNY",ask:1.2,time_line:{$kline_1d}};
chart_1h = {symbol:"{$currency.currency_mark}_{$currency_trade.currency_mark}",symbol_view:"DDD/CNY",ask:1.2,time_line:{$kline_1h}};
chart_30m = {symbol:"{$currency.currency_mark}_{$currency_trade.currency_mark}",symbol_view:"DDD/CNY",ask:1.2,time_line:{$kline_30m}};
chart_8h = {symbol:"{$currency.currency_mark}_{$currency_trade.currency_mark}",symbol_view:"DDD/CNY",ask:1.2,time_line:{$kline_8h}};*/
$(function() {
  $.get("/Home/Orders/getOrdersKline",{"currency":$("#currency_id").val(),"time":"kline_1h"},function(orders){
        kline($("#currency_mark").html()+"2"+$("#currency_trade_mark").html(),orders.kline_1h);

  });
  
  $("#chart-control > button").click(function(){
    $(this).addClass("btn-success").siblings().removeClass("btn-success");
       var time = $(this).attr('data-time');
       $.get("/Home/Orders/getOrdersKline",{"currency":$("#currency_id").val(),"time":time},function(orders){
       kline($("#currency_mark").html()+"2"+$("#currency_trade_mark").html(),orders[time]);
    });
  });
});
</script>
<script src="__PUBLIC__/Home/js/kline.js"></script>
  <style type="text/css">
  	a:hover { text-decoration:none; }

    .table>.buy_table>tr>td{
       border:none;
    }

    .table>tbody>tr>td{
      padding-top: 6px;
      padding-bottom: 6px;
    }
    .table>tbody>tr>td>a{
      font-size: 14px;
    }
    .weituo-table>tbody>tr>td{
      padding-top: 5px;
      padding-bottom: 5px;
    }
    .record-table>tbody>tr>td{
      padding-top: 7px;
      padding-bottom: 7px;
      text-align: center;
    }
    .record-table>thead>tr>th{
      text-align: center;
    }
    .bi-name {
       height: 583px;
       border:1px solid #ebebeb;
       background-color: #fff;
       border-radius: 4px;
       margin-left: 10px;
       padding: 0 5px;
       float: left;
    }
    .k_img{
      border:none;
    }
    .weituo-table>thead>tr>th{
      font-size: 14px;
      color:#666;
    }
    .record-table>thead>tr>th{
      font-size: 14px;
      color:#666;
    }
    .mine-table>thead>tr>th{
      font-size: 14px;
      color:#666;
      text-align: center;
    }
    .mine-table>tbody>tr>td{
      padding-top: 6px;
      padding-bottom: 6px;
      text-align: center;
    }

    #zw{
      visibility:hidden;
    }

    .dd_span { float: left;padding-right: 20px;background-image:url('__PUBLIC__/new/images/down.png');background-repeat:no-repeat;background-position: right; font-size: 18px;margin-left: 25px;}
    .dd_span img{ float: left;margin-right: 10px;margin-top: 2px;}
    .dd_span:hover { background-image:url('__PUBLIC__/new/images/up.png');background-repeat:no-repeat;background-position: right; color: #337ab7; }
    .dd_span_n { display: none; position: absolute; top: 38px;left: 35px;width:240px; z-index: 99999;color: #f00;background-color: #fff;border: 1px solid #eee;border-top:2px solid #337ab7;}
    .sjjjjj { display: inline-block;width: 0;height: 0;margin-left: 115px;vertical-align: middle;border-bottom: 6px solid #337ab7;border-right: 6px solid transparent;border-left: 6px solid transparent;position: absolute;top: -6px;cursor: pointer;}
    .dd_span_n p { padding:3px 10px; height: 34px;border-bottom: 1px solid #eee;font-size: 14px;line-height: 30px;float: left;width: 100%;}
  </style>
<!-- 头部结束 -->
<div class="w10 line">
</div>
<!-- body开始 -->
<div class="w10" style="background-color: #f5f5f5;">
  <div class="w120 container body">
    <div class="row" style="margin: 0;">
      <div class="col-md-8" style="padding-left: 0;">
        <div class="deal-title">
          <p class="deal-title-p">
          <div class="dd_span">
          <img src="{$currency.currency_logo}" style="width:25px; height:25px;">{$currency.currency_name|default="虚拟币"}<span id="currency_mark">{$currency.currency_mark|default="XNB"}</span><span id="currency_trade_mark"> - {$currency_trade.currency_mark|default="CNY"}</span>
          <div class="dd_span_n">
              <div class="sjjjjj"></div>
              <volist name="currency_all" id='vo'>
              <a href="{:U('Orders/index',array('currency'=>$vo['currency_mark']))}"><p>
                <img src="{$vo.currency_logo}" style="width:25px; height:25px;">
                <span style="color: #666;width: 125px;float:left">{$vo.currency_name|default='虚拟币'}({$vo.currency_mark|default=''}):￥</span><b style="color: #e4000f;">{$vo.new_price|default='暂无'}</b>
              </p></a>
              </volist>
          </div>
          </div>
          <a class="btn btn-default deal-title-button" href="{$currency.detail_url|default=''} " target="_blank" type="button">了解{$currency.currency_name|default='货币'}</a></p>
          <div class="w-f deal-prcie">
            <div class="deal-prcie-four">
              <p>当前价格</p>
              <span style="color:#00a8ac;">¥{$currency_message.new_price|default="0.000"}</span>
            </div>
            <div class="deal-prcie-four">
              <p>涨跌幅</p>
              <span style="color:#e84a7a;">{$currency_message.7D_change|default="0.000"}%</span>
            </div>
            <div class="deal-prcie-four">
              <p>最高价</p>
              <span style="color:#00a8ac;">¥{$currency_message.max_price|default="0.000"}</span>
            </div>
            <div class="deal-prcie-four">
              <p>最低价</p>
              <span style="color:#e84a7a;">¥{$currency_message.min_price|default="0.000"}</span>
            </div>
            <div class="deal-prcie-one">
              <p>24小时成交量</p>
              <span style="color:#f5ac5f;">{$currency_message.24H_done_num|default="0"}</span>
            </div>
          </div>
          <div class="w-f" style="height:300px;">
            <div class="k_img k-box" id="k-cus-box">
              <div id="graphbox" style="width:96%;height:295px;margin:0px auto;">
                <div id="container" style="height: 255px; min-width: 460px"></div>
                <div id="chart-control" data="ybc" class="btn-group centered" style="width: 98%;height: 30px;line-height: 30px; marign:0 auto;text-align:center;margin-left: 160px;">
                  <button data-time="kline_5m" class="btn">5分钟线</button>
                  <button data-time="kline_15m" class="btn">15分钟线</button>
                  <button data-time="kline_30m" class="btn">30分钟线</button>
                  <button data-time="kline_1h" class="btn btn-success">1小时线</button>
                  <button data-time="kline_8h" class="btn">8小时线</button>
                  <button data-time="kline_1d" class="btn ">日线</button>
                </div>
              </div>
            </div>            
          </div>
        </div>
         <!--交易币种id-->
          <input value="{$currency.currency_id}" name="currency_id" type="hidden" id="currency_id">
           <!--交易币种id-->
          <div class="deal-deal w-f">
            <div class="deal-deal-title w-f">
              <p>货币交易</p>
            </div>
            <div class="deal-deal-body w-f">
              <div class="row">
                <div class="col-md-6">
                  <p class="deal-deal-p">买入{$currency.currency_name|default="虚拟币"}
                  <notempty name="session">
                    <span>可用CNY：{$user_currency_money['currency_trade']['num']|default=0.00}</span>
                    <else/>
                    <a href="{:U('Login/index')}" style="float:right;">登录</a>
                  </notempty>
                  </p>
                  <form class="deal-form">
                    <div class="form-group">
						<div class="input-group">
                        <input type="text" name="buyprice" class="form-control" id="coinpricein" placeholder="买入价格CNY/{$currency.currency_mark|default="XNB"}" onkeyup="vNum(this,{$currency.currency_digit_num});zuidakemai();" onclick="if(value==defaultValue){value='';}" onblur="if(value==''){value={$sell_record[count($sell_record)-1]['price']|default="0.000"};}">
                        <div class="input-group-addon">{$sell_record[count($sell_record)-1]['price']|default="0.000"}</div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="input-group">
                        <input style="display:none;">
                        <input name="buynum" id="numberin" onkeyup="vNum(this,{$currency.currency_digit_num});" autocomplete="off" type="text" value="" class="form-control" placeholder="买入数量">
                        <div class="input-group-addon" id="coinbuy_max">最大可买<span class="maxcoin" onclick="$('#numberin').val(this.innerHTML)">0</span></div>
                      </div>
                    </div>
                    <p style="font-size:14px;">交易额：<b id="coinin_sumprice">0.00</b> {$currency_trade.currency_mark|default="CNY"}</p>
  
                    <p style="font-size:14px;margin-top: 8px;">手续费：<b id="feebuy">0.00</b><span>（{$currency.currency_buy_fee|default="0.00%"}% {$currency.currency_mark|default="--"}）</span></p>
                    <if condition="$jypwd neq 1 ">
                      <div class="form-group" style="margin-top:15px;margin-bottom:15px;">
                      <input style="display:none;">
                      <input value="" id="pwdtradein" autocomplete="off" type="password" name="buypwd" class="form-control" placeholder="交易密码" style="border-right:1px solid #ccc;height:40px;">
                    </div>
                    <else/>
                      <div class="form-group" style="margin-top:15px;margin-bottom:15px;">
                      <input style="display:none;">
                      <input id="zw" value="" class="form-control" placeholder="交易密码" style="border-right:1px solid #ccc;height:40px;">
                    </div>
                    </if>



                    <input type="hidden" name="tagpwd" id="tagpwd" value="{$jypwd}">


                    <div class="form-group" style="margin-top:15px;margin-bottom:15px;">
                      <a id="trustbtnin" class="deal-form-button" type="button" onclick="buy()">买入</a>
                    </div>
                  </form>
                </div>
                <div class="col-md-6">
                  <p class="deal-deal-p" style="color:#00a8ac;">卖出{$currency.currency_name|default="虚拟币"}
                  <notempty name="session">
                    <span>可用{$currency.currency_mark|default="XNB"}：{$user_currency_money['currency']['num']|default=0.00}</span>
                    <else/>
                    <a href="{:U('Login/index')}" style="float:right;">登录</a>
                  </notempty>
                  </p>
                  <form class="deal-form">
                    <div class="form-group">
                      <div class="input-group">
                        <input id="coinpriceout" onkeyup="vNum2(this,{$currency.currency_digit_num});" onclick="if(value==defaultValue){value='';}" onblur="if(value==''){value={$buy_record[0]['price']|default="0.000"};}" type="text" class="form-control" placeholder="卖出价格CNY/{$currency.currency_mark|default="XNB"}">
                        <div class="input-group-addon">{$buy_record[0]['price']|default="0.000"}</div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="input-group">
                        <input style="display:none;">
                        <input class="form-control" id="numberout" onkeyup="vNum2(this,{$currency.currency_digit_num});" autocomplete="off" type="text" placeholder="卖出数量">
                        <div class="input-group-addon">最大可卖<span id="coinsale_max" onclick="$('#numberout').val(this.innerHTML)">{$sell_num|default=0}</span></div>
                      </div>
                    </div>
                    <p style="font-size:14px;">交易额：<b id="coinout_sumprice">0.00</b>{$currency_trade.currency_mark|default="CNY"}

                    </p><p style="font-size:14px; margin-top: 8px;">手续费：<b id="fee">0.00</b><span>（{$currency.currency_sell_fee|default="0.00"}% {$currency_trade.currency_mark|default="--"}）</span></p>

                    <if condition="$jypwd neq 1 ">
                    <div class="form-group" style="margin-top:15px;margin-bottom:15px;">
                      <input style="display:none;">
                      <input class="form-control" id="pwdtradeout" autocomplete="off" type="password" placeholder="交易密码" style="border-right:1px solid #ccc;height:40px;">
                    </div>
                    <else/>
                      <div class="form-group" style="margin-top:15px;margin-bottom:15px;">
                      <input style="display:none;">
                      <input id="zw" value="" class="form-control" placeholder="交易密码" style="border-right:1px solid #ccc;height:40px;">
                    </div>
                    </if>

                    <div class="form-group" style="margin-top:15px;margin-bottom:15px;">
                      <a class="deal-form-button-2" id="trustbtnout" onclick="sell();" type="button">卖出</a>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>

          <div class="deal-mine w-f">
            <div class="deal-mine-title w-f">
              <p>我的挂单<a href="{:U('Entrust/manage')}"><span style="float: right;color: #999;margin-right: 20px;font-size:14px;">更多>></span></a></p>
            </div>
            <div>
              <table class="table table-hover mine-table">
                  <thead>
                    <tr>
                      <th width="200">委托时间</th>
                      <th width="100">类型</th>
                      <th width="200">委托价格(¥)</th>
                      <th width="200">委托数量</th>
                      <th width="200">成交数量</th>
                      <th width="200">尚未成交</th>
                      <th width="160">操作</th>
                    </tr>
                  </thead>
                  <tbody id="mycointrustlist">
                      <foreach name='user_orders' item='v'>
                       <tr class="list_con2">
                        <td>{$v['add_time']|date='m-d H:i:s',###}</td>
                        <td class="{$v['type']} left_sell" style="width:55px;">{$v['type']|fomatOrdersType=###}</td>
                        <td style="width:50px;">{$v.price|default=0.00}</td>
                        <td>{$v['num']}</td>
                        <td>{$v['trade_num']}</td>
                        <td>{$v['num']-$v['trade_num']}</td>
                        <td style="width:40px;"><a href="javascript:void(0)"  onclick="cexiao({$v.orders_id})">撤销</a></td>
                      </tr>
                      </foreach>
                  </tbody>
              </table>
            </div>
          </div>
      </div>

      <div class="col-md-4 bi">



<!--         <div class="bi-name">
          <div class="bi-name-title">
            <p>货币市场</p>
          </div>
          <table class="table table-hover">
              <thead>
                <tr>
                  <th width="165">币种名称</th>
                  <th width="80">现价</th>
                  <th width="80">交易额</th>
                  <th width="75">涨跌幅</th>
                </tr>
              </thead>
              <tbody>
                <volist name='currency_all' id='vo' empty='$empty'>
                  <tr><td><img src="{$vo.currency_logo}" style="width:25px; height:25px;"><a href="{:U('Orders/index',array('currency'=>$vo['currency_mark']))}">{$vo.currency_name|default='虚拟币'}{$vo.currency_mark|default=''}</a></td>
                  <td <eq name='vo.new_price_status' value='0'>class="red"<else/>class="green_1"</eq>>{$vo.new_price|default='暂无'}</td><td class="red">{$vo.24H_done_num|default='0'}</td><td <gt name='vo.7D_change' value='0'>class="green_1"<else/>class="red"</gt>>{$vo.7D_change|default='0'}%</td></tr>
                </volist>
              </tbody>
            </table>
        </div> -->

        <div class="deal-weituo" style="float: left;height: 1110px;margin-top: 0px;">
          <div class="deal-weituo-title w-f">
            <p>委托交易</p>
          </div>
          <div>
          <table class="table table-hover weituo-table">
              <thead>
                <tr>
                  <th width="100">买/卖</th>
                  <th width="100">价格</th>
                  <th width="100">委托量</th>
                  <th width="100">折合人民币</th>
                </tr>
              </thead>
              <tbody class="buy_table" id="coinsalelist">
                <volist name='sell_record' key='k' id='vo'>
                <tr><td class="green_1"><a>卖 <php>echo count($sell_record)-$k+1</php></a></td><td class="green_1" onclick="getsell(this)">{$vo.price|default=0.00}</td>
                <td class="green_1" onclick="sellnum(this)">{$vo['wtlnum']}</td><td class="green_1">

                <?php 

                  $je= $vo['num']*$vo['price']-$vo['trade_num']*$vo['price'];

                  $je=number_format($je,2,'.','');

                ?>
                ¥{$je}</td></tr>
                </volist>
              </tbody>
              <tbody id="coinbuylist" class="buy_table" style="padding-top: 10px;margin-top: 10px;">
                <volist name='buy_record' key='k' id='vo'>
                <tr><td class="red"><a>买 {$k}</a></td><td class="red" onclick="getbuy(this);">{$vo.price|default=0.00}</td>
                <td class="red" onclick="buynum(this);" >{$vo['wtlnum']}</td><td class="red">
                
        
                ¥<?php $je2= $vo['num']*$vo['price']-$vo['trade_num']*$vo['price'];echo number_format($je2,2,'.',''); ?></td></tr>
                </volist>
              </tbody>
            </table>
          </div>
        </div>

      </div>
          <div class="col-md-12" style="padding-right: 0;padding-left: 0;">
      
          <div class="deal-record w-f">
            <div class="deal-record-title w-f">
              <p>交易记录</p>
            </div>
            <div>
              <table class="table table-hover record-table">
                  <thead>
                    <tr>
                      <th width="160">成交时间</th>
                      <th width="160">类型</th>
                      <th width="160">成交价格</th>
                      <th width="160">成交量</th>
                      <th width="80">总计</th>
                    </tr>
                  </thead>
                  <tbody id="coinorderlist">
                  <volist name='trade' id='vo'>
                    <tr><td>{$vo.trade_time|date='m-d H:i:s',###}</td>
                    <td <eq name='vo.type' value='sell'>class="green_1"<else/>class="red"</eq>><a><eq name='vo.type' value='sell'>卖出<else/>买入</eq></a></td>
                    <td <eq name='vo.type' value='sell'>class="green_1"<else/>class="red"</eq>>{$vo.price|default='暂无'}</td>
                    <td >{$vo.num|default='暂无'}</td>
                    <td >{$vo['num']*$vo['price']}</td></tr>
                  </volist>
                  </tbody>
                </table>
              </div>
            </div>
    </div>
    </div>
  </div>
</div>
<!-- body结束 -->


<!-- footer开始 -->
<include file="App/Home/View/Public/new_footer.html"/>
<script>
function sell(){
 
  // var cname=$("#cname").val();
  // if($("#coinpriceout").val()==""){
  //   $("#trustmsgout").text("卖出价格不能为空").fadeOut(500).fadeIn(500).fadeOut(500).fadeIn(500).fadeOut(500).fadeIn(500);
  //   return false;
  // }
  // if($("#numberout").val()==""){
  //   $("#trustmsgout").text("卖出数量不能为空").fadeOut(500).fadeIn(500).fadeOut(500).fadeIn(500).fadeOut(500).fadeIn(500);
  //   return false;
  // }




  // if($("#pwdtradeout").val()==""){
  //   $("#trustmsgout").text("交易密码不能为空2").fadeOut(500).fadeIn(500).fadeOut(500).fadeIn(500).fadeOut(500).fadeIn(500);
  //   return false;
  // }

  
  // if(($("#coinpriceout").val())*($("#numberout").val())<1){
  //   $("#trustmsgout").text("交易额不能低于1元").fadeOut(500).fadeIn(500).fadeOut(500).fadeIn(500).fadeOut(500).fadeIn(500);
  //   return false;
  // }
      $("body").append("<div id='loading' style='z-index:19891014; background-color:#000; opacity:0.3; filter:alpha(opacity=30);top: 0;left: 0;width: 100%;height: 100%;position: fixed;_position: absolute;text-align:center;'><img src='/public/home/images/loading.gif' style='margin-top:25%;' /></div>");
      $.ajax({
        type:"post",
        url:"{:U('Trade/sell')}",
        data:{sellprice:$("#coinpriceout").val(),sellnum:$("#numberout").val(),sellpwd:$("#pwdtradeout").val(),currency_id:$("#currency_id").val()},
        async:true,
        success: function(d){
          $("#loading").remove();
          if(d.status!=1){
          $("#trustmsgout").text(d.info).fadeOut(500).fadeIn(500).fadeOut(500).fadeIn(500).fadeOut(500).fadeIn(500);  
          //加一个提示
          layer.msg(d.info);
          }else{
          layer.msg(d.info);
          //刷新页面
          setTimeout(window.location.reload(),2000);
          }
        }
      });
};
function buy(){
  
  // if($("#coinpricein").val()==""){
  //   $("#trustmsgin").text("买入价格不能为空").fadeOut(500).fadeIn(500).fadeOut(500).fadeIn(500).fadeOut(500).fadeIn(500);
  //   return false;
  // }
  // if($("#numberin").val()==""){
  //   $("#trustmsgin").text("买入数量不能为空").fadeOut(500).fadeIn(500).fadeOut(500).fadeIn(500).fadeOut(500).fadeIn(500);
  //   return false;
  // }
  // if($("#pwdtradein").val()==""){
  //   $("#trustmsgin").text("交易密码不能为空").fadeOut(500).fadeIn(500).fadeOut(500).fadeIn(500).fadeOut(500).fadeIn(500);
  //   return false;
  // }
  // if(($("#coinpricein").val())*($("#numberin").val())<1){
  //   $("#trustmsgin").text("交易额不能低于1元").fadeOut(500).fadeIn(500).fadeOut(500).fadeIn(500).fadeOut(500).fadeIn(500);
  //   return false;
  // }
    $("body").append("<div id='loading' style='z-index:19891014; background-color:#000; opacity:0.3; filter:alpha(opacity=30);top: 0;left: 0;width: 100%;height: 100%;position: fixed;_position: absolute;text-align:center;'><img src='/public/home/images/loading.gif' style='margin-top:25%;' /></div>");
    $.ajax({
      type:"post",
      url:"{:U('Trade/buy')}",
      data:{buyprice:$("#coinpricein").val(),buynum:$("#numberin").val(),buypwd:$("#pwdtradein").val(),currency_id:$("#currency_id").val()},
      async:true,
      success: function(d){
        $("#loading").remove();
        if(d.status!=1){
        $("#trustmsgin").text(d.info).fadeOut(500).fadeIn(500).fadeOut(500).fadeIn(500).fadeOut(500).fadeIn(500); 
        //加一个提示
        layer.msg(d.info);
        }else{
        layer.msg(d.info);
        //刷新页面
        setTimeout(window.location.reload(),2000);
        }
      }
    });
};
function badFloat(num, size){
    if(isNaN(num)) return true;
    num += '';
    if(-1 == num.indexOf('.')) return false;
    var f_arr = num.split('.');
    if(f_arr[1].length > size){
        return true;
    }
    return false;
}
//格式化小数
//@f float 传入小数: 123; 1.1234; 1.000001;
//@size int 保留位数
//@add bool 进位: 0舍 1进
function formatfloat(f, size, add){
    f = parseFloat(f);
    if(size == 2) conf = [100,0.01];
    if(size == 3) conf = [1000,0.001];
    if(size == 4) conf = [10000,0.0001];
    if(size == 5) conf = [100000,0.00001];
    if(size == 6) conf = [1000000,0.000001];
    if(size == 7) conf = [10000000,0.0000001];
  if(size == 8) conf = [100000000,0.00000001];
    var ff = Math.floor(f * conf[0]) / conf[0];
    if(add && f > ff) ff += conf[1];
    return isNaN(ff)? 0: ff;
}
function vNum(o, len){
  if($("#coinpricein").val()!="" || $("#coinpricein").val()!="此出价为1个币的价格" && $("#numberin").val()!=""){
    if(badFloat(o.value, len))
    o.value=formatfloat(o.value,len,0);
    var fee2 = {$currency.currency_buy_fee} /100;
    var ci = $("#coinpricein").val()*$("#numberin").val();
    var ct2 = ci ;//+ ci * fee2;
    
    $("#feebuy").text(Math.round(ci*fee2*10000)/10000);
    $("#coinin_sumprice").text(Math.round(ct2*10000)/10000);
  }
}

function vNum2(o, len){
  if($("#coinpriceout").val()!="" || $("#coinpriceout").val()!="此出价为1个币的价格" && $("#numberout").val()!=""){
  if(badFloat(o.value, len))
    o.value=formatfloat(o.value, len, 0);
  var nt = $("#coinpriceout").val()*$("#numberout").val();
  var fee = {$currency.currency_sell_fee} /100;
  var ct = nt;// - nt * fee;
  
  $("#fee").text(Math.round(nt*fee*10000)/10000);
  $("#coinout_sumprice").text(Math.round(ct*10000)/10000);
  }
  
}
//5秒自动刷新挂单记录
setInterval(function(){
  $.post('/Home/Orders/getOrders',{"type":'sell',"currency_id":$("#currency_id").val()},function(data){
    $("#coinsalelist").empty();
    var length=parseInt(data.length)
    for(var i=0;i<data.length;i++){
      $("#coinsalelist").append(
          "<tr><td class='green_1' ><a>卖 "+(length-parseInt(i))+"</a></td><td class='green_1' onclick='getsell(this)'>"+data[i]['price']+"</td><td class='green_1' onclick='sellnum(this)'>"+data[i]['wtlnum']+"</td><td class='green_1'>¥"+data[i]['je']+"</td></tr>"
      );
    }
  });
    $.post('/Home/Orders/getOrders',{"type":'buy',"currency_id":$("#currency_id").val()},function(data){
    $("#coinbuylist").empty();
    var length=parseInt(data.length)
    for(var i=0;i<data.length;i++){
      $("#coinbuylist").append(
        "<tr><td class='red' ><a>买 "+(i+1)+"</a></td><td class='red'  onclick='getbuy(this);'>"+data[i]['price']+"</td><td class='red' onclick='buynum(this);'>"+data[i]['wtlnum']+"</td><td class='red'>¥"+data[i]['je']+"</td></tr>"
      );
    }
  })    
},5000);

function accMul(arg1,arg2)
{
  var m=0,s1=arg1.toString(),s2=arg2.toString();
  try{m+=s1.split(".")[1].length}catch(e){}
  try{m+=s2.split(".")[1].length}catch(e){}
  return Number(s1.replace(".",""))*Number(s2.replace(".",""))/Math.pow(10,m)
}

</script>
<script>
function zuidakemai(){
  if($("#coinpricein").val()!="" && $("#coinpricein").val()!=0){
    var m = {$user_currency_money.currency_trade.num|default=0};
    var fee={$currency.currency_buy_fee}/100;
    m=m*(1-fee);
    var n = parseFloat($("#coinpricein").val());
    
    $(".maxcoin").text(Math.round(m/n*10000)/10000);
  }else{
    $(".maxcoin").text(0);
  }
}
</script>
<script>
  function cexiao(_this){
    layer.confirm('确定撤销委托？', {
    btn: ['确定','取消'], //按钮
    title: '撤销委托'
  }, function(){
    $.post('{:U('Entrust/cancel')}',{status:-1,order_id:_this},function(data){
           if(data['status'] == 1){
             layer.msg(data['info']);
             setTimeout(window.location.reload(),1000);
           }else{
             layer.msg(data['info']);
           }
      })
  }, function(){
    layer.msg('已取消');
  });

  }
  
  function getsell(_this){
    $("#coinpricein").val($(_this).text());
    zuidakemai();
  }
  function sellnum(_this){
    $("#numberin").val($(_this).text());
  }
  function getbuy(_this){
    $("#coinpriceout").val($(_this).text());
  }
  function buynum(_this){
    $("#numberout").val($(_this).text());
  }
/*
function shuaxin()
{
  $.ajax({
      type:"post",
      url:"{:U('Trade/shuaxin')}",
      data:'',
      success: function(d){
        if(d.status==1)
        {
          console.log(d.status);
          window.location.reload();
        }
        
        
      }
    });
}

setTimeout('shuaxin()',5000); //指定1秒刷新一次
*/
setInterval(function(){

  $.ajax({
      type:"post",
      url:"{:U('Trade/shuaxin')}",
      data:'',
      success: function(d){
        if(d.status==1)
        {
          console.log(d.status);
          window.location.reload();
        }
        
        
      }
    });
},10000);
</script>
<script type="text/javascript">
    
    $(function () {
        $('.dd_span').hover(function(){$('.dd_span_n').show();},function(){$('.dd_span_n ').hide()});
    })
</script>
