body{
	background: #fff !important
}
.ban{
	background: url('/Public/img/ban2.jpg');
	background-position: center;
	height: 500px;
}
.wraps{
	width: 1190px;
	overflow: hidden;
	margin-bottom: 60px;
}
.wraps>div:nth-of-type(1){
	height: 200px;
	padding-top: 40px;
	box-sizing: border-box;
}
.wraps>div:nth-of-type(1) img{
	float: left;
	margin-right: 40px;
}
.wraps>div:nth-of-type(1) h4{
	    font-size: 24px;
    color: #333;
    margin: 29px 0 10px;
    font-weight: normal;
}
.wraps>div:nth-of-type(1) h5{
	font-size: 16px;
    color: #333;
    font-weight: normal;
}
.wraps>div:nth-of-type(2) h6{
	background: url(/Public/img/gift2.png);
    height: 55px;
    text-align: center;
    margin-bottom: 70px;
    font-weight: normal;
    font-size: 22px;
    color: #ff4847;
    line-height: 61px;
}
.gift>div{
	width: 280px;
	height: 315px;
	position: relative;
	margin-right: 175px;
	    float: left;
}
.gift>div:nth-of-type(3){
	margin-right: 0px
}
.gift>div:nth-of-type(1){
	background: url('/Public/img/gift3.png');
}
.gift>div:nth-of-type(2){
	background: url('/Public/img/gift4.png');
}
.gift>div:nth-of-type(3){
	background: url('/Public/img/gift5.png');
}
.gift>div>div{
	    width: 126px;
    font-size: 14px;
    color: #333;
    position: absolute;
    left: 50%;
    margin-left: -63px;
    top: 45px;
    text-align: center;
    line-height: 23px;
}
.gift b {
	    font-size: 16px;
    color: #333;
    display: block;
    margin-bottom: 20px;
}
.wraps>div:nth-of-type(3) h6{
	    background: url(/Public/img/gift2.png);
    height: 55px;
    text-align: center;
    margin-bottom: 70px;
    margin-top: 90px;
    font-weight: normal;
    font-size: 22px;
    color: #ff4847;
    line-height: 61px;
}
.wraps>div{
	overflow: hidden;
}
.hd2{
	color: #000000;
    position: relative;
    font-size: 18px;
    margin-bottom: 80px;
}
.hd2 p:nth-of-type(1){
	margin-bottom: 18px
}
.hd2 img{
	    position: absolute;
    right: 0px;
    top: -36px;
}
.hdcon h5{
	font-size: 20px;
	color: #ff4847;
	text-align: center;
	font-weight: normal;
}
footer{
	    height: 190px;
    overflow: hidden;
    background: #fff;
    border-top: 1px solid #ddd;
    box-shadow: 0 0 4px #ddd;
}
footer>div{
	float: none ;
}
footer>div>div{
	float: left;
}
.fotRight>div>div:nth-of-type(5){
	margin-right: 0;
}
.fotRight>div>div:nth-of-type(5) img{
	margin-right: 6px;
}

.fotdiv{
	width: 1200px;
}
.ssjx{
	border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #f8f8f8;
    position: absolute;
    bottom: 0px;
    left: 246px;
}
.tiRight2 .icon{
	color: #fff !important;
}
.onli:hover{
	color: #00a63f
}
.svn{
    margin-top: 80px
}
.svn h5{
        font-size: 20px;
    color: #ff4847;
    text-align: center;
    margin-bottom: 30px;
    font-weight: normal;
}
.ph-svn{
    width: 690px;
    border: 1px solid #e6e6e6;
    margin: 0 auto;
    overflow: hidden;
}
.ph-svn li{
    height: 30px;
    line-height: 30px;
    color: #333;
    font-size: 15px;
    float: left;
    width: 35%
}
.ph-svn li:nth-of-type(1){
    width: 30%;
    padding-left: 24px;
    box-sizing: border-box
}
.ph-svn li:nth-of-type(3){
    text-align: right;
    padding-right: 24px;
    box-sizing: border-box;
}
.ph-name{
     width: 690px;
    margin: 0 auto;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    overflow: hidden;
}
.no-data{
     width: 690px;
    margin: 0 auto;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    overflow: hidden;
}
.no-data li{
     height: 30px;
    line-height: 30px;
    color: #999;
    font-size: 13px;
    text-align: center;
    width: 100%;
}
.ph-name li{
     height: 30px;
    line-height: 30px;
    color: #999;
    font-size: 13px;
    float: left;
    width: 35%;
}
.ph-name li:nth-of-type(1){
    width: 30%;
    padding-left: 24px;
    box-sizing: border-box
}
.ph-name li:nth-of-type(3){
    text-align: right;
    padding-right: 24px;
    box-sizing: border-box;
}
