<include file="App/Home/View/Public/new_header.html"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/new/css/user.css">

<!-- 头部结束 -->
<!-- body开始 -->
<div class="w-f" id="main" style="background-color: #f5f5f5;border-top:1px solid #c1c1c1;">
<div class="w120 container" style="margin-top: 20px;">
	<div class="col-md-3 col-xs-3" style="background-color: #fff;min-height: 600px;margin-right: 16px;border-radius: 2px;">
		<div class="safe-ul w-f">
			<ul style="margin-top: 20px;padding-top: 5px;border-top: 2px solid #337cbf;">
				<li class="safe_1" onclick="url_1123(this)"><span class="span_1"></span><a href="{:U('Safe/index')}">安全中心</a></li>
				<li class="safe_2" onclick="url_1123(this)"><span class="span_2"></span><a href="{:U('Safe/shenfen')}">实名认证</a></li>
				<li class="safe_5" onclick="url_1123(this)"><span class="span_5"></span><a href="{:U('Safe/d_pass')}">登录密码</a></li>
				<li class="active safe_4" onclick="url_1123(this)"><span class="span_4"></span><a href="{:U('Safe/j_pass')}">交易密码</a></li>
				<li class="safe_6" onclick="url_1123(this)"><span class="span_6"></span><a href="{:U('Safe/phone')}">手机更换</a></li>
				<!-- <li class="safe_7"><span class="span_7"></span><a href="{:U('Safe/change_email')}">邮箱更换</a></li> -->
<!-- 				<li class="safe_7"><a href="{:U('Safe/email')}">邮件通知</a></li>
				<li class="safe_8"><a href="{:U('Safe/jiaoyi')}">交易密码输入设置</a></li> -->
			</ul>
		</div>
	</div>
	<div class="col-md-9 col-xs-9 safe-body" style="background-color: #fff;min-height: 600px;width: 72%;padding-left: 10px;border-radius: 2px;">
		<div class="safe-name">交易密码</div>
		<div style="float: left;width: 100%;border-bottom: 1px solid #f5f5f5;">
			<div style="float: left;width: 510px;background-color: #f5f5f5;margin:15px 0 15px 15px;padding-left: 25px;">
				<p style="color: #777;line-height: 25px;margin-top: 15px;"><span class="glyphicon glyphicon-info-sign" style="float: left;margin-top: 5px;margin-right: 5px;"></span>交易密码是在第九交易网进行交易时需要输入的密码，不同于登录密码</p>
				<p style="color: #777;line-height: 25px;margin-bottom: 15px;"><span class="glyphicon glyphicon-info-sign" style="float: left;margin-top: 5px;margin-right: 5px;"></span>为确保您的财产安全，请牢记交易密码，防止丢失!<a href="{:U('Safe/jiaoyi_code')}" style="color: #337ab7;margin-left: 38px;">找回交易密码</a></p>
			</div>
		</div>
		<div class="safe-identity">
			<form class="form-horizontal" method="post" action="__SELF__">
			  <div class="form-group">
			    <label for="inputPassword3" class="col-sm-3 control-label">交易密码:</label>
			    <div class="col-sm-9 form-input">
			      <input type="password" class="form-control" placeholder="" name="old_pwd" onblur="out(this)">
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="inputPassword3" class="col-sm-3 control-label">新交易密码:</label>
			    <div class="col-sm-9 form-input">
			      <input type="password" class="form-control" placeholder="" name="pwd" onblur="out(this)">
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="inputPassword3" class="col-sm-3 control-label">再次输入新密码:</label>
			    <div class="col-sm-9 form-input">
			      <input type="password" class="form-control" placeholder="" name="sec_pwd" onblur="out(this)">
			    </div>
			  </div>
			  <div class="form-group">
			    <div class="col-sm-offset-3 col-sm-9">
			      <button type="submit" class="btn btn-default form-submit">保存密码</button>
			    </div>
			  </div>
			</form>
		</div>
	</div>
</div>
</div>
<!-- body结束 -->
<script type="text/javascript">
function url_1123(which) {
  var htmla= $(which).find("a").attr("href");
  window.location = htmla;
}
function out(which) {
  var pwd= $(which).val();
  if (pwd.length==0) {
  		layer.msg('请填入信息，不能为空!',{offset: '40%'});
  }
}
</script>
<include file="App/Home/View/Public/id-main-s.html"/>
<!-- footer开始 -->
<include file="App/Home/View/Public/new_footer.html"/>