<footer class="footer1">
			<div class="fotdiv">
				<div class="fotLeft">
					<div>
						<p>OPENIEX</p>
						<span>© CopyRight 2017</span>
						<div class="fotImg">
							<img src="/Public/img/fx1.png" />
							<img src="/Public/img/fx2.png" />
							<img src="/Public/img/fx3.png" />
						</div>
					</div>
				</div>
				<div class="fotRight">
					<div>
						<div>
							<h6>{$Think.lang.product}</h6>
							<ul>
								<li class="onli" data-src="/Home/wallet/index">{$Think.lang.accounts}</li>
								<li class="onli" data-src="/Home/index/index">{$Think.lang.buy_sell}</li>
							<!-- 	<li>专业版</li>	 -->		
							</ul>
						</div>
						<div>
							<h6>{$Think.lang.support}</h6>
							<ul>
							 <li class="onli" data-src="/Home/single/job.html">{$Think.lang.work_order}</li>
				
								<li>API</li>		
							</ul>
						</div>
						<div>
							<h6>{$Think.lang.resource}</h6>
							<ul>
								<li class="onli" data-src="/Home/single/lists.html?status=2">{$Think.lang.faq}</li>
								<li class="onli" data-src="/home/single/details.html?status=2&uid=506&st=0">{$Think.lang.fee}</li>
								<li class="onli" data-src="/Home/single/clause">{$Think.lang.terms_of_use}</li>
								<li class="onli" data-src="/Home/single/privacy">{$Think.lang.privacy_policy}</li>
							</ul>
						</div>
					
						<div>
							<h6>{$Think.lang.read_more}</h6>
							<img src="/Public/img/fx1.png" />
							<img src="/Public/img/fx2.png" class="onli" data-src="https://twitter.com/OPENIEX" />
							<img src="/Public/img/fx3.png" />
						</div>
					</div>
				</div>
			</div>
		</footer>