body{
	background: #f6f6f6;
}
.wraps{
	width: 100%;
	height: 100%;
	text-align: center;
    background-size: 100% 100%;
     min-height: 690px;
    overflow: hidden;
    margin-bottom: 30px
}
.header>div{
	background: transparent;
}
.header h1{
	color: #fff;
}
.websote{
	height: 500px;
	overflow: hidden;
	position: relative;
}
.commhed{
	border-bottom: none;
	box-shadow:none	;
}
.header{
	position: absolute;
	z-index: 9;
	width:100%;
}
.header>div{
	width: 1190px;
}
.echs{
	height: 500px;
}
.userTb{
	height: 500px;
	width: 100%;
}
.tiRight ul li{
	color: rgba(255,255,255,1);
}
.tiRight ul li:hover{
	color: rgba(255,255,255,1);
}
.onli:hover{
	color: #00a63f
}
.tiRight .icon:hover{
	color: #fff !important
}
.wraps h2{
	color: #fff;
	font-size: 40px;
	margin-top: 80px;
	font-weight: normal;
	margin-bottom: 15px;
}
.wraps h3{
	color: #FFA300;
	margin-bottom: 75px;
	font-size: 18px;
	font-weight: normal;
}
.coin{
	width: 100%;
	background: #fff;
	height: 250px;
}
.coin>ul{
	max-width: 1220px;
	padding: 30px 45px;
	box-sizing: border-box;
}
.coin>ul>li {
	float: left;
	width: 25%;
	cursor: pointer;
	height: 190px;
	position: relative;
}
.coin>ul>li:nth-of-type(4){
	margin-right: 0;
}
.coin>ul>li>img{
	margin: 30px 0 15px 0;
    width: 100px;
}
.coin>ul>li:hover .bhide{
	display: block;
}
.bhide{
	display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 61px;
    color: #fff;
    height: 100%;
    background: rgba(0,0,0,.6);
    border-radius: 6px;
    box-sizing: border-box;
}
.bhide p{
	font-size: 18px;
    display: inline-block;
    width: 100px;
    margin-bottom: 7px;
    font-family: Arial;
    border-bottom: 1px solid #fff;
    padding-bottom: 7px;

}
.bhide span{
	font-size: 18px;
	display: block;
}
.yrun{
	max-width: 1220px;
	margin-top: 46px;
}
.yrun ul li{
	float: left;
	color: #fff;
	text-align: center;
	width: 33.33333%;
}
.yrun ul li:nth-of-type(3){
	float: left;
	color: #fff;
	text-align: center;
	width: 33.33334%;
}
.sosouk input::-webkit-input-placeholder {
   /* WebKit browsers */
   color: rgba(255,255,255,.3);
 }
.sosouk input:-moz-placeholder {
   /* Mozilla Firefox 4 to 18 */
   color: rgba(255,255,255,.3);
 }
.sosouk input::-moz-placeholder {
   /* Mozilla Firefox 19+ */
   color: rgba(255,255,255,.3);
 }
.sosouk input::-ms-input-placeholder {
   /* Internet Explorer 10+ */
   color: rgba(255,255,255,.3);
}
.rsig{
	position: relative;
    text-align: center;
    top: 100px;
    color: #fff;
    z-index: 10
}
.rsig h2{
	font-size: 30px;
	font-weight: normal;
}
.sosouk{
	margin-top: 40px;
	width: 400px;
	position: relative;
}
.sosouk input{
	width: 400px;
	height: 40px;
	border: 1px solid #fff;
	text-indent: 12px;
	box-sizing: border-box;
	background: transparent;
	font-size: 16px;
	color: #fff;
}
.sosouk button{
	width: 80px;
    height: 40px;
    background: #fff;
    color: #00A63F;
    font-size: 16px;
    position: absolute;
    border: none;
    top: 0;
    right: 0;
    cursor: pointer;
}
#iconlists{
	margin:30px 0; 
}
.jgs{
	overflow: hidden;
	padding-bottom: 6px;
}
.jgxs{
	width: 1190px;
	height: 80px;
}
.jgxs ul li{
	    box-shadow: 0 0 18px rgba(0,0,0,.1);
	width: 280px;
    float: left;
    margin-bottom: 20px;
    height: 162px;
    text-align: left;
    cursor: pointer;
    background: #fff;
    margin-right: 20px;
}
.jgxs ul li:nth-of-type(4){
	margin-right: 0
}
.jgxs ul li img {
	margin-left: 20px;
	float: left;
	margin-top: 20px;
	margin-right: 20px;
	width:35px;
}
.jgxs p{
	display: inline-block;
}
.selectLi {
	
}
.jgxs ul li div{
	clear: both;
}
.jgxs li p{
	font-size: 18px;
    color: #37474f;
    margin: 25px 0 0;
}
.jgxs div span{
	color: #37474f;
	font-size: 12px;
}
.jggreen{
	color: #00A63F !important;
	float: right;
    margin-right: 20px;
    position: relative;
    top: 4px
}
.jgred{
	color: #f03838 !important;
}
.yss{
	height: 280px;
	width: 1200px;
}
.yss ul li {
	width: 33.3333%;
	float: left;
}
.icon-ad{
	margin-top: 50px;
    margin-bottom: 36px;
}
.yss h6{
	font-size: 18px;
	color: #00a63f;
	margin-bottom: 20px;
}
.yss p{
	color: #37474f;
	font-size: 14px;
}
.bgimg{
	width: 1200px;
}
.bgimg>div{
	float: left;
	width: 50%;
}
.bgimg>div>img{
	width: 100%;
}
.bgimg ul li{
	text-align: left;
    color: #37474f333;
    font-size: 14px;
    overflow: hidden;
    margin-bottom: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.bgimg ul li img{
	margin: 0 20px 0 140px;
}
.bgimg>div:nth-of-type(2){
	margin-top: 80px
}
footer{
	    height: 190px;
    overflow: hidden;
    background: #fff;
    border-top: 1px solid #ddd;
    box-shadow: 0 0 4px #ddd;
}
footer>div{
	float: none ;
}
footer>div>div{
	float: left;
}
.fotRight>div>div:nth-of-type(4){
	
}
.fotRight>div>div:nth-of-type(4) img{
	margin-right: 6px;
	cursor: pointer;
}

.fotdiv{
	width: 1200px;
}
.ssjx{
	border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #f8f8f8;
    position: absolute;
    bottom: 0px;
    left: 246px;
}
.tiRight2 .icon{
	color: #fff !important;
}
.websote .swiper-container {
    width: 100%;
    height: 100%;
}
.websote .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
.websote .swiper-slide img{
     	width: 100%;
     	height: 500px;
     }
.wraps .swiper-container {
      width: 100%;
      height: 100%;
    }
.wraps .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
.pricete{
	margin: 15px 0 0 20px
}
ppd{
	margin-left: 6px;
}
.echw>div{
	height: 140px;
    top: -62px;
}
.uone li{
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	color: #333333;
	text-align: center;
	float: left;
}
.uls{
	width: 1190px;
    background: #fff;
    overflow: hidden;
    border: 1px solid #eee;
}
.uls li{
	width: 130px;
	text-align: left;
}
.uls li:nth-of-type(1){
	width: 205px;
	text-align: center;
}
.uls li:nth-of-type(6){
	text-align: center;
}
.uls li:nth-of-type(7){
	width: 205px;
	text-align: center;
}
.uls li:nth-of-type(8){
	text-align: center;
	box-sizing: border-box; 
}
.wraps h6{
	display: block;
    font-weight: 400;
    margin-top: 30px;
    width: 1190px;
    background: #fff;
    font-size: 24px;
    height: 56px;
    line-height: 56px;
    border: 1px solid #eee;
    border-bottom: none;
}
h4{
	background: #fff;
    font-size: 14px;
    font-weight: normal;
    cursor: pointer;
        color: #333;
    height: 36px;
    line-height: 36px;
}
.u24 {
	height:60px;
	line-height: 60px;
	clear: both;
}
.u24 li{
	float: left;
	font-size: 14px;
	color: #333;
	height: 70px;
}
.u24 img{
	position: relative;
	top: 6px
}
.no1 {
	background: url('/Public/img/ban1.jpg');
	    background-position: center;
}
.no2 {
	background: url('/Public/img/ban2.jpg');
	  background-position: center;
}
.swiper-slide span{
    height: 500px;
    width: 100%;
    display: block;
}
.uls ul{
	border-bottom: 1px solid #eee;
	box-sizing: border-box;
	overflow: hidden
}
.uls ul:nth-of-type(11){
	border-bottom: none;
}
.uls ul:nth-of-type(2) li:nth-of-type(8){
	color: #F79219
}
.uls ul:nth-of-type(3) li:nth-of-type(8){
	color: #00a63f
}
.uls ul:nth-of-type(4) li:nth-of-type(8){
	color: red
}
.uls li:nth-of-type(5){
	text-align: center;
}
.uls ul li:nth-of-type(8){
	color: #999
}
.ggulis {
	height: 36px;
	overflow: hidden;
}
.gulis{
	position: relative;
}
.ban1Text{
	position: absolute;
	top: 150px;
	text-align: center;
	width: 100%
}

.ban1Text h4{
	font-size: 24px;
	display: block;
	background: transparent;
	color: #ddd
}
.ban1Text h4 o{
	color: #00A63F
}
.ban1Text h2{
	color: #fff;
}
.ban1Text h3{
	color: #fff;
	font-weight: normal;
}