<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>OPENIEX</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta content="openiex,交易所,BTC,coin" name="keywords">
<!--		<script src="/Public/js/lib/fastclick/fastclick.js"></script>待用-->
	    <link rel="stylesheet" href="/Public/css/comm/comm.css?v=749f7a5439" />
	    <link rel="stylesheet" href="/Public/js/lib/iconfont/iconfont.css" />
	    <link rel="stylesheet" href="/Public/css/single/activity1.css?v=c9282e7562" />
	</head>
	<body>
		<!--<script>
			  FastClick.attach(document.body);
		</script>-->
		<include file="App/Home/View/comm/header.html"/>
		<div class="ban"></div>
		<div class="wraps">
			<div>
				<img src="/Public/img/gift1.png">
				<h4>OPENIEX 1月1日正式上线，为庆祝上线，开启2018新年狂欢活动。</h4>
				<h5>OPENIEX 1月1日正式上线，为庆祝上线，开启2018新年狂欢活动。</h5>
			</div>
			<div>
				<h6>活动一</h6>
				<div class="gift">
					<div>
						<div>
							<b>第一名</b>
							<p>
								微软（Microsoft）
								Surface Laptop
								超轻薄触控笔记本
							</p>
						</div>
					</div>
					<div>
						<div>
							<b>第二名</b>
							<p>
								Apple iPhone X 
								(A1865) 256GB
							</p>
						</div>
					</div>
					<div>
						<div>
							<b>第三名</b>
							<p>
								Apple iPad Pro 
								平板电脑 10.5 英寸
							</p>
						</div>
					</div>
				</div>
			</div>
			<div>
				<h6>活动二</h6>
				<div class="hd2">
					<p>1.新用户注册，并通过实名认证，您将获得10个QASH</p>
					<p>2.尾数为8的幸运ID用户，并通过实名认证，您将获得88个QASH</p>
					<img src="/Public/img/gift6.png">
				</div>
				<div class="hdcon">
					<h5>活动时间</h5>
					<p style="text-align: center;margin-top: 30px;color: #333;">2018年1月1日 00:00:00 至2018年1月3日24:00:00</p>
				</div>
				<div class="hdcon" style="margin-top: 30px">
					<h5>奖品发放时间</h5>
					<p style="text-align: center;margin-top: 30px;color: #333;">活动结束后，在1~3个工作日内发放奖品</p>
				</div>

				<div class="svn">
					<h5>交易量排行版</h5>
					<ul class="ph-svn">
						<li>排行</li>
						<li>名称</li>
						<li>交易量</li>
					</ul>
					
					
				</div>
			</div>
		</div>
		<footer>
			<div class="fotdiv">
				<div class="fotLeft">
					<div>
						<p>OPENIEX</p>
						<span>© CopyRight 2017 China</span>
						<div class="fotImg">
							<img src="/Public/img/fx1.png" />
							<img src="/Public/img/fx2.png" />
							<img src="/Public/img/fx3.png" />
						</div>
					</div>
				</div>
				<div class="fotRight">
					<div>
						<div>
							<h6>产品</h6>
							<ul>
								<li class="onli" data-src="/Home/wallet/index">账户</li>
								<li class="onli" data-src="/Home/index/index">买卖</li>
							<!-- 	<li>专业版</li>	 -->		
							</ul>
						</div>
						<div>
							<h6>支持</h6>
							<ul>
								<li class="onli" data-src="/Home/single/job.html">在线工单</li>
										
								<li>API</li>		
							</ul>
						</div>
						<div>
							<h6>资源</h6>
							<ul>
								<li class="onli" data-src="/Home/single/lists.html?status=2">常见问题</li>
								<li class="onli" data-src="/home/single/details.html?status=2&uid=506&st=0">费率</li>
								<li class="onli" data-src="/Home/single/clause">服务条款</li>
								<li class="onli" data-src="/Home/single/privacy">隐私</li>			
							</ul>
						</div>
						<div>
							<h6>公司</h6>
							<ul>
							
								<li><a href="mailto:Support@openiex.com" class="mailto">联系我们</a></li>
						
							</ul>
						</div>
						<div>
							<h6>关注更多</h6>
							<img src="/Public/img/fx1.png"  class="onli" data-src='http://t.me/openiex'/>
								<img src="/Public/img/fx2.png" class="onli" data-src="https://twitter.com/OPENIEX" />
							<img src="/Public/img/fx3.png" />
						</div>
					</div>
				</div>
			</div>
		</footer>
		<inpu type="hidden" id="mess" data-nodata="暂无数据">
		<script src="/Public/js/lib/jquery/jquery-3.2.1.min.js"></script>
		<script src="/Public/js/lib/iconfont/iconfont.js"></script>
		<script src="/Public/js/private/comm/comm.js?v=97294199b9"></script>
		<script src="/Public/js/private/single/activity1.js?v=78c122bff2"></script>
<include file="App/Home/View/comm/count.html"/>
	</script>
	</body>
</html>
