 <style type="text/css">
.headtop{
            background: #337cbf;
            height: 40px;
            line-height: 40px;
            margin-bottom: 0.8rem;
        }
        .headtop .glyphicon-chevron-left{
            margin-left: 10px;
            color: white;
            line-height: 40px;
            float: left;
        }
        .headtop .glyphicon-home{
            float: right;
            margin-right:10px;
            line-height: 40px;
            color: white;
        }
        .headtop .glyphicon-home{
            float: right;
            margin-right:10px;
            line-height: 40px;
            color: white;
        } 	
 </style>
 <div class="col-md-12 headtop text-center">
            <i class="glyphicon glyphicon-chevron-left"></i>
            <strong style="color: white;">{$title}</strong>
            <a href="{:U('Index/index')}"><i class="glyphicon glyphicon-home"></i></a>
</div>